<div class="col-md-8">
  <h1 id="nickname" data-nickname="<%= nickname %>">Ably Chat: "<%= nickname %>"</h1>
  <h3 id="status">Loading...</h3>
  <button id="leave" class="btn btn-danger">
    Leave <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
  </button>
</div>

<div class="col-md-4">
  <h2>All users online now</h2>
  <ul id="users-online">
  </ul>
</div>

<% content_for :javascript do %>
  <script type="text/javascript" src="/app.js"></script>
<% end %>
